.button {
  font-size: 1em;
  letter-spacing: 1px;
  padding: 1em 2em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
  outline: none;
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale3d(0.95, 0.95, 0.95); }
  .button.white {
    background: rgba(255, 255, 255, 0.8);
    color: #353535; }
  .button.green {
    background: rgba(79, 197, 130, 0.7); }
  .button.blue {
    background: rgba(67, 143, 193, 0.7); }
  .button.purple {
    background: rgba(146, 83, 198, 0.7); }
  .button.red {
    background: rgba(195, 75, 85, 0.7); }

/*# sourceMappingURL=buttons.css.map */
