html {
  height: 100%;
  width: 100%; }

body {
  background: #26292c;
  perspective: 700px;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Verdana;
  text-align: center; }

* {
  box-sizing: border-box; }

h1 {
  margin: 0;
  text-align: center;
  padding: 1em 0;
  color: rgba(255, 255, 255, 0.7); }

p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2em;
  width: 65%;
  margin: 1em auto; }

a {
  color: #e0e0e0; }

pre {
  text-align: left;
  background: #e5e5e5; }

.container {
  padding: 2em;
  text-align: center; }
  .container button {
    margin-right: 1em;
    margin-bottom: 1em; }
    .container button:last-child {
      margin-right: 0; }

.button {
  font-size: 1em;
  letter-spacing: 1px;
  padding: 1em 2em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
  outline: none;
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale3d(0.95, 0.95, 0.95); }
  .button.white {
    background: rgba(255, 255, 255, 0.8);
    color: #353535; }
  .button.green {
    background: rgba(79, 197, 130, 0.7); }
  .button.blue {
    background: rgba(67, 143, 193, 0.7); }
  .button.purple {
    background: rgba(146, 83, 198, 0.7); }
  .button.red {
    background: rgba(195, 75, 85, 0.7); }

.mixin-button {
  font-size: 1em;
  letter-spacing: 1px;
  padding: 1em 2em;
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  background: #40BFB7;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
  outline: none;
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .mixin-button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale3d(0.4, 0.4, 0.4); }

code .mixin {
  color: #c678dd; }
code .name {
  color: #61afef; }
code .comment {
  color: #5c6370; }
code .arg {
  color: #e06c75; }
code .element {
  color: #d19a66; }
code .string {
  color: #98c379; }
code .function {
  color: #56b6c2; }

/*# sourceMappingURL=index.css.map */
