@mixin button ($color-bg, $color-text, $scale-down: .95) {
  font-size: 1em;
  letter-spacing: 1px;
  padding: 1em 2em;
  color: $color-text;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  background: $color-bg;
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  transition: all 300ms ease;
  outline: none;
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  &:active {
    box-shadow: 0 0 20px rgba(0,0,0,.6);
    transform: scale3d($scale-down,$scale-down,$scale-down);
  }
}

.button {
  font-size: 1em;
  letter-spacing: 1px;
  padding: 1em 2em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  background: rgba(255,255,255,.1);
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  transition: all 300ms ease;
  outline: none;
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  &:active {
    box-shadow: 0 0 20px rgba(0,0,0,.6);
    transform: scale3d(.95,.95,.95);
  }
  &.white {
    background: rgba(255,255,255,.8);
    color: #353535;
  }
  &.green {
    background: rgba(79, 197, 130, .7);
  }
  &.blue {
    background: rgba(67, 143, 193, .7);
  }
  &.purple {
    background: rgba(146, 83, 198, .7);
  }
  &.red {
    background: rgba(195, 75, 85, .7);
  }
  &.test {
    
  }
}