html {
  height: 100%;
  width: 100%;
}
body {
  background: #26292c;
  perspective: 700px;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Verdana;
  text-align: center;
}

* {
  box-sizing: border-box;
}
h1 {
  margin: 0;
  text-align: center;
  padding: 1em 0;
  color: rgba(255,255,255,.7);
}
p {
  color: rgba(255,255,255,.9);
  font-size: 1.2em;
  width: 65%;
  margin: 1em auto;
}
a {
  color: #e0e0e0;
}
pre {
  text-align: left;
  background: #e5e5e5;
}

.container {
  padding: 2em;
  text-align: center;
  button {
    margin-right: 1em;
    margin-bottom: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

@import "buttons";

.mixin-button {
  @include button(#40BFB7, #f0f0f0, .4);
}

code {
  .mixin {
    color: rgba(198, 120, 221, 1);
  }
  .name {
    color: rgba(97, 175, 239, 1);
  }
  .comment {
    color: rgba(92, 99, 112, 1);
  }
  .arg {
    color: rgba(224, 108, 117, 1);
  }
  .element {
    color: rgba(209, 154, 102, 1);
  }
  .string {
    color: rgba(152, 195, 121, 1);
  }
  .function {
    color: rgba(86, 182, 194, 1);
  }
}